@font-face {
  font-family: "Hamston";
  src: url("../fonts/Hamston.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  font-size: 15px;
  font-family: Arial;
}

body {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  background-color: #971414;
}

/*-----VERSION MOVIL------------------*/

main {
  background-color: black;
}
div.menuPc {
  display: none;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  background-color: #971414;
  justify-content: space-between;
  padding: 0.5rem;
}

footer section#privacidad {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: italic;
  color: white;
  width: 80%;
  font-size: 0.8rem;
}
footer section#redes div {
  display: flex;
}

footer section#redes div i {
  color: white;
  margin-right: 1rem;
}

/*-----NAV MOVIL------------------*/
header .menu-h {
  padding: 1rem 0;
  background-color: #505050;
}

header .menu-h button {
  margin-left: 1rem;
  background-color: #505050;
}
header .main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
  background-color: black;
}

header nav ul li {
  padding: 0.5rem 0;
}

header nav ul li a {
  font-size: 1.5rem;
  color: white;
  display: block;
}

header nav ul li a:hover {
  color: red;
}

header .main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}

header .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: black;
  z-index: 100;
}

header .main-nav.show {
  margin-left: 0;
}

.nav-links {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.link-item {
  margin-top: 2rem;
  color: #444444;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover::after {
  width: 100%;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

header .button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

header .button-menu.close span:nth-child(3) {
  display: none;
}
/*-----FIN NAV MOVIL------------------*/

/*----- VERSION TABLET------------------*/
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }

  .main-logo {
    flex-basis: 30%;
  }

  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white;
  }

  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }

  footer section#privacidad {
    font-size: 1rem;
  }
}

/* VERSION de PC */
@media (min-width: 992px) {
  header div.menu-h {
    display: none;
  }

  div.menuPc {
    background-image: url("../imagenes/bgnav.jpg");
    display: flex;
    height: 100px;
  }

  div.menuPc ul {
    align-items: center;
    display: flex;
  }

  div.menuPc ul li {
    list-style: none;
  }

  div.menuPc ul li {
    margin-right: 6rem;
  }

  div.menuPc ul li a {
    font-family: "Hamston", Arial;
    color: white;
    font-size: 3.5rem;
    display: block;
  }

  div.menuPc ul li:nth-child(6) a {
    margin-left: 7.5rem;
  }

  div.menuPc ul li:not(:first-of-type) a:hover {
    padding: 0.8rem;
    border-radius: 1rem;
  }
  /*----LOGO NAV PC -----*/
  div.menuPc ul li a img {
    width: 150px;
    height: 110px;
  }

  div.menuPc ul li a:hover {
    color: red;
  }
}
